<!DOCTYPE html>
<html>
<head>
  <title>IpsyploosDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="main_content">
		
		<div id="header">
			<% if !user_signed_in? && current_page?(root_path) %>
			<p class="sign_in"><%= link_to "Log In / Sign Up", new_user_session_path %></p>
			<% end %>
			<% if user_signed_in? %>
				Hi <%="ipsy-user-#{current_user.id}," %>

				<div class="buttons">
					<form action="/processing" method="get"><button disabled>AVON</button></form>
					<form action="/processing" method="get"><button disabled>MAC</button></form>

					<form action="/processing" method="get">
					<input type="hidden" name="shop" value="Dummy Advertiser 2">
					<input type="hidden" name="url" value="http://localhost:3001">
					<input type="hidden" name="offer_id" value="17">
					<button>Dummy Advertiser 2 using server postback with Transaction ID (cookieless)</button></form>

					<form action="/processing" method="get">
					<input type="hidden" name="shop" value="Dummy Advertiser 3">
					<input type="hidden" name="url" value="http://localhost:3001">
					<input type="hidden" name="offer_id" value="21">
					<button>Dummy Advertiser 3 using HTTP iframe pixel (with cookies)</button></form>
					
					<br>
					<button class="button"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
				</div>
			<% end %>
		</div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class:"alert") %>
		<% end %>


		<%= yield %>		
	</div>

</body>
</html>
