<!DOCTYPE html>
<html>
<head>
  <title>IpsyploosDemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="main_content">
		
		<div id="header">
			<% if !user_signed_in? && current_page?(root_path) %>
			<p class="sign_in"><%= link_to "Log In / Sign Up", new_user_session_path %></p>
			<% end %>
			<% if user_signed_in? %>
				<div class="buttons">
					<form action="/processing" method="get"><input type="hidden" name="shop" value="avon"><input type="hidden" name="creative_id" value="32"><button>AVON</button></form>

					<a class="btn button" href="/processing?shop=avon&creative_id=1">AVON</a> <br>
					<a class="btn button" href="/processing?shop=maccosmetics&creative_id=1">MAC</a> <br>
					<a class="btn button" href="/processing?shop=sephora&creative_id=1">SEPHORA</a>
					<br>
					<button class="button"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
				</div>
			<% end %>
		</div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class:"alert") %>
		<% end %>


		<%= yield %>		
	</div>

</body>
</html>
